body {
    font-size: $font-size-base;
    font-family: var(--font-face-content);
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    font-weight: $weight-normal;
    background-color: var(--background-color);
    color: var(--on-background-text-color);
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s cubic-bezier(0,0,.2,1);
    transition: all .3s cubic-bezier(0,0,.2,1);

    &.with-drawer {
        margin-left: var(--content-safe-margin-by-drawer);

        &.drawer-collapsed {
            --drawer-max-width: #{$drawer-collapsed-width};
            --content-safe-margin-by-drawer: #{$drawer-collapsed-width};
        }
    }
}

.theme-blue {
    --color-primary: var(--color-warn);
    --color-primary-aux: var(--color-warn-aux);
    --color-on-primary-text: var(--white);
}

.theme-red {
    --color-primary: var(--color-error);
    --color-primary-aux: var(--color-error-aux);
    --color-on-primary-text: var(--white);
}

.theme-green {
    --color-primary: var(--color-success);
    --color-primary-aux: var(--color-success-aux);
    --color-on-primary-text: var(--white);
}