@function tint-color($base-color, $level) {
    $level: $level / 100 - 5;
    @return scale-color($base-color, $lightness: $level * $theme-color-interval);
}

@mixin m-v($t, $b) {
    margin-top: $t;
    margin-bottom: $b;
}

@mixin m-h($l, $r) {
    margin-left: $l;
    margin-right: $r;
}

@mixin p-v($t, $b) {
    padding-top: $t;
    padding-bottom: $b;
}

@mixin p-h($l, $r) {
    padding-left: $l;
    padding-right: $r;
}