%titles {
  font-family: var(--font-face-title);
  font-size: var(--font-size-title);
}

%block {
  .content & {
    border-radius: $components-border-radius;

    @include media("<small") {
      border-radius: 0;
    }
  }

  background-color: var(--background-second-color);
  padding: $padding-v-content $padding-h-content;
}