// Color system
$theme-color-interval: 8%;

:root {
  --black: hsl(0, 0%, 0%);
  --black-a10: hsla(0, 0%, 0%, .1);
  --black-a20: hsla(0, 0%, 0%, .2);
  --black-a30: hsla(0, 0%, 0%, .3);
  --black-a50: hsla(0, 0%, 0%, .5);
  --black-a60: hsla(0, 0%, 0%, .6);
  --black-a80: hsla(0, 0%, 0%, .8);
  --white: hsl(0, 100%, 100%);
  --white-a10: hsla(0, 100%, 100%, .1);
  --white-a20: hsla(0, 100%, 100%, .2);
  --white-a30: hsla(0, 100%, 100%, .3);
  --white-a50: hsla(0, 100%, 100%, .5);
  --white-a60: hsla(0, 100%, 100%, .6);
  --white-a80: hsla(0, 100%, 100%, .8);

  --text-color: var(--black);
  --link-color: var(--black);
  --link-color-active: var(--black-a50);
  --background-color: var(--white);
  --background-second-color: var(--black-a20);
  --background-third-color: var(--black-a10);

  @media (prefers-color-scheme: light) {
    --text-color: var(--white);
    --link-color: var(--white);
    --link-color-active: var(--white-a50);
    --background-color: var(--black);
    --background-second-color: var(--white-a20);
    --background-third-color: var(--white-a10);
  }
}

// Transions
$transition-interactive-delay: .2s;

// Typography
$font-face-title: Montserrat, sans-serif; 
$font-face-content: Montserrat, sans-serif;
$font-face-code: "Montserrat Mono", monospace;

$weight-minor: normal;
$weight-major: bold;

$line-height: 1.5;

$letter-spacing: .02rem;
$letter-spacing-discrete: .4rem;

$font-size-base: 1rem;
$font-size-title: 1rem;
$font-size-content: 1rem;

// Layout
$spacing-before-page: 3.4vw;
$spacing-after-page: $spacing-before-page;
$spacing-top-page: 5vh;
$spacing-bottom-page: $spacing-top-page;
$spacing-elements-v: 4vh;