// Color system
$theme-color-interval: 8%;

$orange: hsl(27, 87%, 50%);
$red: hsl(16, 87%, 50%);
$yellow: hsl(59, 100%, 48%);
$green: hsl(179, 83%, 31%);
$blue: hsl(206, 86%, 39%);
$purple: hsl(233, 64%, 53%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 100%, 100%);

:root {
  --black: #{$black};
  --black-a5: hsla(0, 0%, 0%, .05);
  --black-a10: hsla(0, 0%, 0%, .1);
  --black-a20: hsla(0, 0%, 0%, .2);
  --black-a30: hsla(0, 0%, 0%, .3);
  --black-a50: hsla(0, 0%, 0%, .5);
  --black-a60: hsla(0, 0%, 0%, .6);
  --black-a80: hsla(0, 0%, 0%, .8);
  --white: #{$white};
  --white-a5: hsla(0, 100%, 100%, .05);
  --white-a10: hsla(0, 100%, 100%, .1);
  --white-a20: hsla(0, 100%, 100%, .2);
  --white-a30: hsla(0, 100%, 100%, .3);
  --white-a50: hsla(0, 100%, 100%, .5);
  --white-a60: hsla(0, 100%, 100%, .6);
  --white-a80: hsla(0, 100%, 100%, .8);

  --color-primary: #{tint-color($orange, 600)};
  --color-primary-aux: #{tint-color($orange, 400)};
  --color-success: #{tint-color($green, 600)};
  --color-success-aux: #{tint-color($green, 400)};
  --color-error: #{tint-color($red, 600)};
  --color-error-aux: #{tint-color($red, 300)};
  --color-warn: #{tint-color($blue, 600)};
  --color-warn-aux: #{tint-color($blue, 300)};

  --color-on-primary-text: var(--white);
  --color-on-success-text: var(--white);
  --color-on-error-text: var(--white);
  --color-on-warn-text: var(--white);

  --background-color: var(--white);
  --background-second-color: var(--black-a5);
  --background-third-color: var(--black-a10);
  --on-background-text-color: var(--black);
  --link-color: var(--black);
  --link-color-active: var(--black-a50);

  @include dark() {
    --color-primary: #{tint-color($orange, 300)};
    --color-primary-aux: #{tint-color($orange, 200)};
    --color-success: #{tint-color($green, 300)};
    --color-success-aux: #{tint-color($green, 100)};
    --color-error: #{tint-color($red, 300)};
    --color-error-aux: #{tint-color($red, 100)};
    --color-warn: #{tint-color($blue, 300)};
    --color-warn-aux: #{tint-color($blue, 100)};

    --color-on-primary-text: var(--white-a80);
    --color-on-success-text: var(--white);
    --color-on-error-text: var(--white-a40);
    --color-on-warn-text: var(--white);

    --background-color: var(--black);
    --background-second-color: var(--white-a20);
    --background-third-color: var(--white-a10);
    --on-background-text-color: var(--white-a80);
    --link-color: var(--white-a80);
    --link-color-active: var(--white-a40);
  }
}

// Transions
$transition-interactive-delay: .2s;

// Typography
:root {
  --font-face-title: Montserrat, sans-serif;
  --font-face-content: Montserrat, sans-serif;
  --font-face-code: "Montserrat Mono", monospace;
}

$weight-minor: normal;
$weight-major: bold;

$line-height: 1.5;

$letter-spacing: .02rem;
$letter-spacing-discrete: .4rem;

$font-size-base: 1rem;
$font-size-title: 1rem;
$font-size-content: 1rem;

// Layout
$spacing-before-page: 3.4vw;
$spacing-after-page: $spacing-before-page;
$spacing-top-page: 5vh;
$spacing-bottom-page: $spacing-top-page;
$spacing-elements-v-major: 2vh;
$spacing-elements-v-minor: 1vh;
$spacing-elements-h-major: 2vw;

$padding-v-content: .4rem;
$padding-h-content: .8rem;

$components-height-content: $padding-v-content * 2+$line-height;

$components-border-width: 1px;
$components-border-radius: 2px;

:root {
  --container-max-width: 55vmin;

  @include media("<small") {
    --container-max-width: 86vmin;
  }
}
