a {
    transition: transform $transition-interactive-delay;
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--font-face-title);
    font-weight: $weight-minor;
    transition: transform $transition-interactive-delay;

    .list &.item {
        &:hover, &:active {
            border: none;
        }
    }

    &:hover {
        border-bottom: 0.05em dotted currentColor;
        opacity: 1;
    }

    &:active {
        color: var(--link-color-active);
        opacity: 1;
    }

    &.high-profile {
        font-weight: $weight-normal;
        border-bottom: 0.05em solid rgba(55,53,47,0.4);
        opacity: 0.7;
    }

    &.high-profile:hover {
        background: rgba(148, 148, 148, 0.15);
        box-shadow: 0 0 0 3px rgb(148 148 148 / 15%);
        border-radius: 1px;
    }

    .large & {
        letter-spacing: $letter-spacing-discrete;
        font-size: 2.6vmin;
        margin-bottom: 2vh;

        @include media("<small") {
            font-size: 130%;
        }
    }

    .xxlarge &{
        letter-spacing: $letter-spacing-discrete;
        font-size: 4.6vmin;
        margin-bottom: 4vh;
        text-transform: uppercase;

        @include media("<small") {
            font-size: 180%;
        }
    }
}