a {
    transition: transform $transition-interactive-delay;
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--font-face-title);
    transition: transform $transition-interactive-delay;

    &:hover {
        border-bottom: 1px dotted var(--link-color);
    }

    &:active {
        color: var(--link-color-active);
        border-bottom: 1px dotted var(--link-color-active);
    }

    .large & {
        letter-spacing: $letter-spacing-discrete;
        font-size: 2.6vmin;
        margin-bottom: 2vh;

        @include media("<small") {
            font-size: 130%;
        }
    }

    .xxlarge &{
        letter-spacing: $letter-spacing-discrete;
        font-size: 4.6vmin;
        margin-bottom: 4vh;
        text-transform: uppercase;

        @include media("<small") {
            font-size: 180%;
        }
    }
}