a {
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--font-face-title);
    font-weight: $weight-minor;

    &.low-profile {
        text-decoration: none;
        color: var(--link-color);
    }

    &.high-profile,
    span>&,
    li>& {
        color: var(--color-primary);
        text-decoration: underline;
    }

    &:hover {
        opacity: 0.85;
        background: var(--background-second-color);
        box-shadow: 0 0 0 3px var(--background-second-color);
        border-radius: 1px;

        .list>&.item {
            opacity: 1;
            box-shadow: none;
        }
    }

    &:active {
        color: var(--link-color-active);
        opacity: 1;
    }

    .large & {
        letter-spacing: $letter-spacing-discrete;
        font-size: 2.6vmin;
        margin-bottom: 2vh;
        transition: color $transition-interactive-delay ease-in-out, background-color $transition-interactive-delay ease-in-out, border-color $transition-interactive-delay ease-in-out, box-shadow $transition-interactive-delay ease-in-out;

        @include media("<small") {
            font-size: 130%;
        }
    }

    .xxlarge & {
        letter-spacing: $letter-spacing-discrete;
        font-size: 4.6vmin;
        margin-bottom: 4vh;
        text-transform: uppercase;
        transition: color $transition-interactive-delay ease-in-out, background-color $transition-interactive-delay ease-in-out, border-color $transition-interactive-delay ease-in-out, box-shadow $transition-interactive-delay ease-in-out;

        @include media("<small") {
            font-size: 180%;
        }
    }
}