div.alert {
    @extend %block;
    @include p-v(.8em, .8em);
    @include p-h($spacing-before-page, $spacing-after-page);

    a {
        color: var(--color-on-primary-text)
    }

    &.error {
        background: var(--color-error);
        color: var(--color-on-error-text);
        border-color: var(--color-error);
        a {
            color: var(--color-on-error-text)
        }
    }

    &.warn {
        background: var(--color-warn);
        color: var(--color-on-warn-text);
        border-color: var(--color-warn);
        a {
            color: var(--color-on-warn-text)
        }
    }

    &.success {
        background: var(--color-success);
        color: var(--color-on-success-text);
        border-color: var(--color-success);
        a {
            color: var(--color-on-success-text)
        }
    }

    &.primary {
        background: var(--color-primary);
        color: var(--color-on-primary-text);
        border-color: var(--color-primary);
        a {
            color: var(--color-on-primary-text)
        }
    }
}