span.badge {
    border: 1px solid currentColor;
    border-radius: $components-border-radius;
    font-size: 80%;
    display: inline-block;
    padding: .1vw .5vw;
    vertical-align: middle;

    &.low-profile {
        font-size: 30%;
        padding: 0 .3vw;
    }

    &.borderless {
        border: 0px;
    }

    &.high-profile {
        background: var(--color-primary);
        color: var(--color-on-primary-text);
        border-color: var(--color-primary);
    }

    &.high-profile:hover {
        background: var(--color-primary-aux);
        color: var(--color-on-primary-text);
        border-color: var(--color-primary);
    }
}