button,
.btn {
    font-size: $font-size-content;
    border-radius: 2px;
    outline: 0;
    border: 1px solid;
    padding: .4rem .8rem;
    font-weight: $weight-major;

    &.primary {
        background: var(--primary-color);
        color: var(--on-primary-text-color);
        border-color: var(--primary-color);

        &:hover {
            background: var(--primary-color);
            border-color: var(--primary-color-accent);
        }

        &:active {
            background: var(--primary-color-accent);
        }
    }
}