button,
.btn {
    font-size: $font-size-content;
    border-radius: $components-border-radius;
    outline: 0;
    border: $components-border-width solid;
    padding: $padding-v-content $padding-h-content;
    font-weight: $weight-major;
    height: $components-height-content;
    background: var(--background-color);
    color: var(--on-background-text-color);
    border-color: var(--background-second-color);

    &.low-profile {
        font-size: 80%;
        height: $components-height-content * 0.8;
        padding: $padding-v-content $padding-h-content * 0.7;
    }

    &.high-profile {
        font-size: 120%;
        height: $components-height-content * 1.2;
        padding: $padding-v-content $padding-h-content * 1.3;
    }

    &:hover {
        background: var(--background-color);
        border-color: var(--background-third-color);
    }

    &:active {
        background: var(--background-third-color);
    }

    &.warn {
        background: var(--color-warn);
        color: var(--color-on-warn-text);
        border-color: var(--color-warn);

        &:hover {
            background: var(--color-warn);
            border-color: var(--color-warn-aux);
        }

        &:active {
            background: var(--color-warn-aux);
        }
    }

    &.success {
        background: var(--color-success);
        color: var(--color-on-success-text);
        border-color: var(--color-success);

        &:hover {
            background: var(--color-success);
            border-color: var(--color-success-aux);
        }

        &:active {
            background: var(--color-success-aux);
        }
    }

    &.primary {
        background: var(--color-primary);
        color: var(--color-on-primary-text);
        border-color: var(--color-primary);

        &:hover {
            background: var(--color-primary);
            border-color: var(--color-primary-aux);
        }

        &:active {
            background: var(--color-primary-aux);
        }
    }
}