.drawer {
    width: var(--drawer-max-width);
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
    transition: all .3s cubic-bezier(0, 0, .2, 1);
    border-right: $drawer-border-width solid var(--background-second-color);

    @include p-h($padding-h-content, $padding-h-content);

    >* {
        @include m-h(0, 0);
    }

    >:first-child {
        @include m-v($padding-v-content, $padding-v-content);
    }
}

// Closed Mode
body:not([class*='with-drawer']) .drawer {
    transform: translateX(calc(-1 * var(--drawer-max-width)));
    -webkit-transform: translateX(calc(-1 * var(--drawer-max-width)));
    box-shadow: none;

    @include media("<small") {
        transform: translateY(-100vh);
        -webkit-transform: translateY(-100vh);
    }
}

// Normal Mode
body:not([class*='drawer-collapsed']) .drawer {
    @include media("<small") {
        border-right: none;
    }

    .only-collapsed {
        display: none;
    }
}