.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;

    @include media(">xxlarge") {
        grid-template-columns: repeat(9, 1fr);
    }

    @include media(">xlarge", "<xxlarge") {
        grid-template-columns: repeat(5, 1fr);
    }

    @include media("<small") {
        grid-template-columns: 1fr;
    }
}