i.fas, i.far {
    @extend %icon-font;
    opacity: .8;
}

i.fab {
    @extend %icon-font;
    opacity: .8;
}

i.fad {
    @extend %icon-font;
    opacity: .8;
}

i.fa {
    @extend %icon-font;
    opacity: .8;
}