%icon-font {
    font-style: initial;
    font-size: 1em;
    opacity: .8;

    .drawer .item > & {
        font-size: 1.38em;
    }

    .list>.item>& {
        white-space: pre-line;
        margin: 0;
        grid-column: 1 / 1;
        grid-row: 1 / span 2;
        align-self: center;
    }

    .list>.item.i-r>& {
        &.r {
            grid-column: 2 / 2;
        }
    }

    .list>.item.i-lr>&,
    .list>.item.i-rl>& {
        &.r {
            grid-column: 3 / 3;
        }
    }
}

i.fas,
i.far,
i.fab,
i.fad,
i.fa {
    @extend %icon-font;
}