img {
    border-radius: $components-border-radius;
    width: 100%;

    &.original {
        border-radius: inherit;
    }

    &.avatar {
        border-radius: 50%;
        border: 0;
        display: block;
        margin: 0px;
        position: relative;
    }
}