input {
    @include m-v($spacing-elements-v-minor, $spacing-elements-v-minor);
    padding: 2.5 * 0.25rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;
    font-size: 1em;
    outline: 0;
    border: none;
    color: var(--on-background-text-color);
    background-color: var(--background-second-color);
    border-bottom: 1px dashed var(--on-background-text-color);

    &:hover {
        background-color: var(--background-third-color);
    }

    &:focus {
        background-color: var(--background-third-color);
        border-bottom: 1px solid var(--on-background-text-color);
    }
}