input {
    @include m-v($spacing-elements-v-minor, $spacing-elements-v-minor);
    padding: $padding-v-content $padding-h-content;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: $components-border-radius $components-border-radius 0 0;
    font-size: $font-size-content;
    outline: 0;
    border: none;
    color: var(--on-background-text-color);
    background-color: var(--background-second-color);
    border-bottom: $components-border-width dashed var(--on-background-text-color);
    height: $components-height;

    &:hover {
        background-color: var(--background-third-color);
    }

    &:focus {
        background-color: var(--background-third-color);
        border-bottom: 1px solid var(--on-background-text-color);
    }

    &.invalidated {
        border-bottom: $components-border-width solid var(--color-error);

        &::placeholder {
            color: var(--color-error);
        }
    }

    &.validated {
        border-bottom: $components-border-width solid var(--color-success);

        &::placeholder {
            color: var(--color-success);
        }
    }

    &.low-profile {
        font-size: 80%;
        height: $components-height-lp;
        padding: $padding-v-content-lp $padding-h-content-lp;
    }

    &.high-profile {
        background: transparent;
        width: 100%;
        height: auto;
        border: none;
        font-size: 300%;
        padding: 0;
    }

    &[type=time],
    &[type=datetime-local],
    &[type=date] {
        border-bottom: none;
    }

    ::-webkit-calendar-picker-indicator {
        color: var(--on-background-text-color);
    }

    &[type=checkbox],
    &[type=radio] {
        box-sizing: border-box;
        width: auto;
        height: auto;
        padding: 0;
    }
}

select {
    @include m-v($spacing-elements-v-minor, $spacing-elements-v-minor);
    padding: $padding-v-content $padding-h-content;
    color: var(--on-background-text-color);
    background-color: var(--background-color);
    height: $components-height;
    border-radius: $components-border-radius $components-border-radius 0 0;
    font-size: $font-size-content;
    border: none;
    outline: none;
    background-color: var(--background-second-color);

    &:focus {
        outline: -webkit-focus-ring-color auto 1px;
    }

    &.low-profile {
        outline: none;
        border: none;
        height: auto;
        padding: 0;
        background: none;
        margin: 0;
        font-size: inherit;

        &:focus {
            outline: none;
        }
    }
}

label {
    padding: $padding-v-content $padding-h-content;
    font-size: .84rem;
    display: flex;
    align-items: center;
    width: fit-content;
    height: $components-height;
    box-sizing: border-box;
    border: $components-border-width solid var(--background-second-color);
    border-radius: $components-border-radius;

    &.low-profile {
        font-size: 80%;
        height: $components-height-lp;
        padding: $padding-v-content-lp $padding-h-content-lp;
    }
}