.content {
    padding: 0 $spacing-before-page;
    margin: $spacing-elements-v-major 0;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.block {
    @extend %block;
}

.hero {
    margin-top: 28vh;
}

.header {
    @include m-h($spacing-before-page, $spacing-after-page);
    @include m-v($spacing-top-page, $spacing-top-page);

    h1 {
        font-weight: $weight-normal;
        font-size: calc(.7rem + .9vmin);
        letter-spacing: $letter-spacing-discrete;
        line-height: $line-height;
    }
}

.copyright {
    @extend %titles;
    padding: $spacing-elements-v-major $spacing-before-page;
}