.content {
    margin: $spacing-elements-v-major $spacing-before-page;
    /* This is for .content.block */
    border-radius: 0;

    .drawer>& {
        margin: 0;
        padding: 0;
    }

    &.high-profile {
        margin: 0;
        padding: 0;
    }
}

.container {
    width: var(--container-max-width);
    margin: 0 auto;
}

.block {
    @extend %block;

    &.low-profile {
        padding: $padding-v-content-lp $padding-h-content-lp;
    }
}

/** Must use with body.with-hero */
.hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    @include m-h($spacing-before-page, $spacing-after-page);
    @include m-v($spacing-top-page, $spacing-top-page);

    h1 {
        font-weight: $weight-normal;
        font-size: calc(.7rem + .9vmin);
        letter-spacing: $letter-spacing-discrete;
        line-height: $line-height;
    }

    body.drawer-collapsed .drawer>& {
        margin: 0;
    }
}

.copyright {
    @extend %titles;
    padding: $spacing-elements-v-major $spacing-before-page;
}

.scene {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;
}