// Built-in lists
ul {
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        list-style: none;
        padding: 0 0 4px 24px;
        font-size: .875em;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: .75em;
            left: 0;
            width: 12px;
            height: 2px;
            background: var(--color-primary);
        }
    }
}

// Manual lists
.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .drawer>&:not(:last-child) {
        border-bottom: 1px solid var(--background-second-color)
    }

    >.item {
        @extend %block;
        width: 100%;
        background-color: var(--background-color);
        cursor: pointer;
        margin-bottom: $spacing-elements-v-minor;
        display: grid;
        grid-template-columns: 0 auto;
        grid-template-rows: auto auto;
        column-gap: 1.3em;

        &.i-lr,
        &.i-rl {
            grid-template-columns: 1.6em auto 1.6em;
            grid-template-rows: auto auto;
            /** Action icon span and opacity are defined in _i.scss */
        }

        &.i-r {
            grid-template-columns: auto 1.6em;
        }

        &.i-l {
            grid-template-columns: 1.6em auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            color: var(--color-primary);
        }

        &:active {
            background: var(--color-primary);
            color: var(--color-on-primary-text);

            &.low-profile {
                background: var(--background-third-color);
                color: var(--on-background-text-color);
            }
        }

        &:hover {
            background: var(--color-primary-aux);
            color: var(--color-on-primary-text);

            &.low-profile {
                background: var(--background-second-color);
                color: var(--on-background-text-color);
            }
        }

        .drawer & {
            border-radius: 0;
            margin-bottom: 0;
            padding-top: 1vh;
            padding-bottom: 1vh;

            body.drawer-collapsed & {
                grid-template-columns: 100% 0;
                grid-template-rows: auto 0;
                column-gap: 0;
                height: 2.2em;
                justify-items: center;
            }
        }
    }
}