.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .drawer>&:not(:last-child) {
        border-bottom: 1px solid var(--background-second-color)
    }

    >.item {
        @extend %block;
        width: 100%;
        background-color: var(--background-color);
        cursor: pointer;
        margin-bottom: $spacing-elements-v-minor;
        display: grid;
        grid-template-columns: 1.6em auto;
        grid-template-rows: auto auto;
        column-gap: 1.3em;

        &.no-icon {
            grid-template-columns: 0 auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            color: var(--color-primary);
        }

        &:active {
            background-color: var(--color-primary);
            color: var(--color-on-primary-text);

            &.low-profile {
                background-color: var(--background-third-color);
                color: var(--on-background-text-color);
            }
        }

        &:hover {
            background-color: var(--color-primary-aux);
            color: var(--color-on-primary-text);

            &.low-profile {
                background-color: var(--background-second-color);
                color: var(--on-background-text-color);
            }
        }

        .drawer>& {
            border-radius: 0;
            margin-bottom: 0;
            padding-top: 1vh;
            padding-bottom: 1vh;

            body.drawer-collapsed>& {
                grid-template-columns: 100% 0;
                grid-template-rows: auto 0;
                column-gap: 0;
                height: 2.2em;
                justify-items: center;
            }
        }
    }
}