.progressbar {
  display: flex;
  width: 100%;
  height: 6px;
  vertical-align: middle;
  background-color: rgba($color: #000000, $alpha: 0.3);

  @include dark() {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }

  .progress {
    display: inline-block;
    width: 20%;
    height: 6px;
    vertical-align: middle;
    background-color: #000000;

    @include dark() {
      background-color: #ffffff;
    }

    &.primary {
      background-color: var(--color-primary);
    }

    &.error {
      background-color: var(--color-error);
    }

    &.warn {
      background-color: var(--color-warn);
    }

    &.info {
      background-color: var(--color-info);
    }

    &.success {
      background-color: var(--color-success);
    }
  }
}
