ul.tab {
    padding-inline-start: 0;
    white-space: nowrap;
    overflow: auto;

    .item.active {
        opacity: 1;

        &:hover {
            opacity: 1;
        }
    }

    li.item {
        display: inline-block;
        padding-right: .5em;
        opacity: .3;
        text-transform: uppercase;
        font-size: 140%;
        font-weight: $weight-major;
        transition: .1s linear;
        letter-spacing: $letter-spacing-discrete;
        cursor: pointer;

        &.disabled:hover {
            opacity: .3;
        }

        &:hover {
            opacity: 1;
        }
    }

    a:hover {
        border: none;
    }
}