h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %titles;
    font-weight: $weight-major;

    .list>.item>& {
        margin: 0;
        grid-column: 2;
        grid-row: 1;
    }

    .list>.item.i-r>& {
        grid-column: 1;
    }

    body.drawer-collapsed .drawer &, body.drawer-right-collapsed .drawer.right & {
        display: none;
    }
} 

:target {
    color: var(--color-primary);
}

p {
    overflow: hidden;

    body.drawer-collapsed .drawer & {
        display: none;
    }
    
    .list>.item>& {
        white-space: pre-line;
        margin: 0;
        grid-column: 2;
        grid-row: 2;
        opacity: .8;
    }

    .list>.item.i-r>& {
        grid-column: 1;
    }
}