h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %titles;
    font-weight: $weight-major;
    .list>.item>& {
        margin: 0;
    }
} 

:target {
    color: var(--color-primary);
}

p {
    .list>.item>& {
        white-space: pre-line;
        margin: 0;
    }
}