.hidden {
    display: none;
}

.m-t-3 {
    margin-top: 1.5vh;
}

.m-t-2 {
    margin-top: 1vh;
}

.m-t-1 {
    margin-top: .5vh;
}

.m-b-3 {
    margin-bottom: 1.5vh;
}

.m-b-2 {
    margin-bottom: 1vh;
}

.m-b-1 {
    margin-bottom: .5vh;
}

.disabled,
:disabled {
    cursor: not-allowed !important;
    background-image: repeating-linear-gradient(45deg, var(--black-a10), var(--black-a10) 12px, var(--white-a10) 12px, var(--white-a10) 24px) !important;
}

.h-center {
    text-align: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hoverable:hover {
    transform: rotate3d(0.1, 0.15, 0, 7deg);
}