.hidden {
    display: none;
}

.m-t-grand {
    margin-top: 4vh;
}

.m-t-sparse {
    margin-top: 1.5vh;
}

.m-t-normal {
    margin-top: 1vh;
}

.m-t-compat {
    margin-top: .5vh;
}

.m-t-none {
    margin-top: 0;
}

.m-b-grand {
    margin-bottom: 4vh;
}

.m-b-sparse {
    margin-bottom: 1.5vh;
}

.m-b-normal {
    margin-bottom: 1vh;
}

.m-b-compat {
    margin-bottom: .5vh;
}

.m-b-none {
    margin-bottom: 0;
}

.disabled,
:disabled {
    cursor: not-allowed !important;
    background-image: repeating-linear-gradient(45deg, var(--black-a10), var(--black-a10) 12px, var(--white-a10) 12px, var(--white-a10) 24px) !important;
}

.h-center {
    text-align: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hoverable:hover {
    transform: rotate3d(0.1, 0.15, 0, 7deg);
}

.text-primary {
    color: var(--color-primary);
}

.text-error {
    color: var(--color-error);
}

.text-warn {
    color: var(--color-warn);
}

.text-success {
    color: var(--color-success);
}