<html>

<head>
    <link rel="stylesheet" href="<%=alchemy_url%>">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="description" content="A lightweight web UI framework for building super fast and beautiful websites.">
    <meta name="author" content="Gufeng Shen">
    <meta name="keywords" content="css framework,ui,ui framework,css ui,css,gufeng shen">
    <meta name="copyright" content="Gufeng Shen">

    <title>Buttons | Alchemy UI</title>
    <meta name="theme-color" content="#000000">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tearfulDalvik">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alchemy UI">
    <meta property="og:description"
        content="A lightweight web UI framework for building super fast and beautiful websites. Produced by Gufeng Shen.">
</head>

<body>
    <div class="header">
        <h1><a href="button.html">Buttons</a></h1>
    </div>
    <div class="content">
        <h4>Normal Buttons</h4>
        <p><button>Normal</button>&nbsp;<button disabled>Disabled</button></p>
        <xmp><button>Normal</button></xmp>
        <xmp><button disabled>Disabled</button></xmp>
        <p><button class="primary">Primary</button>&nbsp;<button disabled class="primary">Disabled</button></p>
        <xmp><button class="primary">Primary</button></xmp>
        <xmp><button disabled class="primary">Disabled</button></xmp>
        <p><button class="warn">Warn</button>&nbsp;<button disabled class="warn">Disabled</button></p>
        <xmp><button class="warn">Warn</button></xmp>
        <xmp><button disabled class="warn">Disabled</button></xmp>
        <p><button class="success">Success</button>&nbsp;<button disabled class="success">Disabled</button></p>
        <xmp><button class="success">Success</button></xmp>
        <xmp><button disabled class="success">Disabled</button></xmp>
        <h4>Low-Profile Buttons</h4>
        <p><button class="low-profile">Normal</button>&nbsp;<button class="primary low-profile">Primary</button>&nbsp;<button class="warn low-profile">Warn</button>&nbsp;<button class="success low-profile">Success</button></p>
        <h4>High-Profile Buttons</h4>
        <p><button class="high-profile">Normal</button>&nbsp;<button class="primary high-profile">Primary</button>&nbsp;<button class="warn high-profile">Warn</button>&nbsp;<button class="success high-profile">Success</button></p>
    </div>
    <%- debug_scripts %>
</body>

</html>