<html>

<head>
    <link rel="stylesheet" href="<%=alchemy_url%>">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="description" content="A lightweight web UI framework for building super fast and beautiful websites.">
    <meta name="author" content="Gufeng Shen">
    <meta name="keywords" content="css framework,ui,ui framework,css ui,css,gufeng shen">
    <meta name="copyright" content="Gufeng Shen">

    <title>Gadgets | Alchemy UI</title>
    <meta name="theme-color" content="#000000">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tearfulDalvik">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alchemy UI">
    <meta property="og:description"
        content="A lightweight web UI framework for building super fast and beautiful websites. Produced by Gufeng Shen.">
</head>

<body>
    <div class="header">
        <h1><a href="gadgets.html">Gadgets</a></h1>
    </div>
    <div class="content">
        <h3>Spinners</h3>
        <span class="spinner m-r-grand"></span>
        <span class="spinner low-profile"></span>
        <xmp><span class="spinner"></span>
            <span class="spinner low-profile"></span>
        </xmp>
        <h3>Progress Bars</h3>
        <div class="progressbar m-t-compat">
            <span class="progress warn" style="width: 30%;"></span>
        </div>
        <div class="progressbar m-t-grand">
            <span class="progress" style="width: 50%;"></span>
        </div>
        <div class="progressbar m-t-grand">
            <span class="progress info" style="width: 70%;"></span>
        </div>
        <div class="progressbar m-t-grand">
            <span class="progress success" style="width: 90%;"></span>
        </div>
        <xmp><div class="progressbar">
            <span class="progress warn" style="width: 30%;"></span>
        </div>
        <div class="progressbar">
            <span class="progress" style="width: 50%;"></span>
        </div>
        <div class="progressbar">
            <span class="progress info" style="width: 70%;"></span>
        </div>
        <div class="progressbar">
            <span class="progress success" style="width: 90%;"></span>
        </div>
        </xmp>
        <h3>Indicators</h3>
        <span class="indicator"></span>
        <span class="indicator warn"></span>
        <span class="indicator info"></span>
        <span class="indicator success"></span>
        <span class="indicator error"></span><br />
        <span class="indicator error">&nbsp;Something went wrong</span>
        <xmp><span class="indicator"></span>
            <span class="indicator warn"></span>
            <span class="indicator info"></span>
            <span class="indicator success"></span>
            <span class="indicator error"></span><br />
            <span class="indicator error">&nbsp;Something went wrong</span>
        </xmp>
        <h3>Badges</h3>
        <p>Low Profile</p>
        <span class="badge low-profile">AlchemyUI</span>
        <span class="badge m-l-compat low-profile primary flat">AlchemyUI</span>
        <span class="badge m-l-compat low-profile primary">AlchemyUI</span>
        <p>Normal</p>
        <span class="badge">AlchemyUI</span>
        <span class="badge m-l-compat primary flat">AlchemyUI</span>
        <span class="badge m-l-compat primary">AlchemyUI</span>
        <p>High Profile</p>
        <span class="badge m-l-compat high-profile">AlchemyUI</span>
        <span class="badge m-l-compat high-profile primary flat">AlchemyUI</span>
        <span class="badge m-l-compat high-profile primary">AlchemyUI</span>
        <p>Colors</p>
        <div>
            <span class="badge">AlchemyUI</span>
            <span class="m-l-compat badge success">AlchemyUI</span>
            <span class="m-l-compat badge info">AlchemyUI</span>
            <span class="m-l-compat badge warn">AlchemyUI</span>
            <span class="m-l-compat badge error">AlchemyUI</span>
        </div>
        <div class="m-t-sparse">
            <span class="badge high-profile">AlchemyUI</span>
            <span class="m-l-compat badge high-profile success">AlchemyUI</span>
            <span class="m-l-compat badge high-profile info">AlchemyUI</span>
            <span class="m-l-compat badge high-profile warn">AlchemyUI</span>
            <span class="m-l-compat badge high-profile error">AlchemyUI</span>
        </div>
        <div class="m-t-sparse">
            <span class="badge flat high-profile">AlchemyUI</span>
            <span class="m-l-compat badge high-profile flat success">AlchemyUI</span>
            <span class="m-l-compat badge high-profile flat info">AlchemyUI</span>
            <span class="m-l-compat badge high-profile flat warn">AlchemyUI</span>
            <span class="m-l-compat badge high-profile flat error">AlchemyUI</span>
        </div>
        <xmp><span class="indicator"></span>
            <p>Low Profile</p>
            <span class="badge low-profile">AlchemyUI</span>
            <span class="badge low-profile primary flat">AlchemyUI</span>
            <span class="badge low-profile primary">AlchemyUI</span>
            <p>Normal</p>
            <span class="badge">AlchemyUI</span>
            <span class="badge primary flat">AlchemyUI</span>
            <span class="badge primary">AlchemyUI</span>
            <p>High Profile</p>
            <span class="badge high-profile">AlchemyUI</span>
            <span class="badge high-profile primary flat">AlchemyUI</span>
            <span class="badge high-profile primary">AlchemyUI</span>
            <p>Colors</p>
            <span class="badge high-profile">AlchemyUI</span>
            <span class="badge high-profile primary">AlchemyUI</span>
            <span class="badge high-profile success">AlchemyUI</span>
        </xmp>
        <h3>Alerts</h3>
    </div>
    <div class="alert"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
    <div class="alert info"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
    <div class="alert warn"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
    <div class="alert success"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
    <div class="alert error"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>

    <div class="content">
        <xmp>
            <div class="alert"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
            <div class="alert info"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
            <div class="alert warn"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
            <div class="alert success"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
            <div class="alert error"><i class="fad fa-exclamation-circle"></i>&nbsp;AlchemyUI</div>
        </xmp>
        <h3>Code</h3>
        <code class="lang-shell-root">apt-get install zsh</code>
        <code class="lang-shell">apt-get install zsh</code>
        <xmp>
            <code class="lang-shell-root">apt-get install zsh</code>
            <code class="lang-shell">apt-get install zsh</code>
        </xmp>
    </div>
    <%- debug_scripts %>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css">
</body>

</html>